<!DOCTYPE html>
<html>


<head>
	<link rel="stylesheet" type="text/css" href="Registrationcss.css">
</head>

<body style="background-color: #ffffff">
	<div class="Menu">
		<div class="HomePage">
			<li> <a href="#">Home</a> </li>
		</div>
	</div>

	<!--THE HEADING-->
	<center>
		<div class="heading">
			<h1><b style="font-family: Verdana; font-size: 40px; width: 500px; color: #0098b0">Add Candidate</b></h1>
		</div>
	</center>

	<div class="Info">
			<table align="center">
				<thead>
					<tr>
						<td colspan="4" align="center"> <b style="color: #0098b0">Enter their details below: </b></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2" style="color: #0098b0">First Name:
							<input id="firstNameInput" class="form-control" type="text" style="width:95%" required>
						</td>
						<td colspan="2" style="color: #0098b0">Last Name:
							<input id="lastNameInput" class="form-control" type="text" style="width:95%" required>
						</td>
					</tr>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td align="center" colspan="4">
							<input onclick="startOnboarding()" style="color: #0098b0" type="submit" value="Create Candidate">
						</td>
					</tr>
				</tfoot>
			</table>
	</div>
	<script type="text/javascript">
		function startOnboarding() {
			createWallet()
		}

		function createWallet() {
			var firstName = document.getElementById("firstNameInput").value;
			var lastName = document.getElementById("lastNameInput").value;
			var tfn = '';
			var address = '';


			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4) {
					var response = JSON.parse(xhr.response);
                    console.log(localStorage.getItem("candidates"))
                    var thisCand = localStorage.getItem("candidates")
                    var candidates = JSON.parse(thisCand);

                    if (candidates != null && candidates != "" && candidates != undefined) {
                        candidates.push(JSON.parse(xhr.response).publicKey)
                        console.log(candidates)
                        localStorage.setItem("candidates", JSON.stringify(candidates));
                    } else {
                        candidates = []
                        candidates.push(JSON.parse(xhr.response).publicKey)
                        console.log(candidates)
                        localStorage.setItem("candidates", JSON.stringify(candidates))
                    }
				}
			}
			xhr.open("POST", "http://localhost:5000/new/wallet", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
				"firstName": firstName,
				"lastName": lastName,
				"tfn": tfn,
				"address": address
			}))
		}
	</script>
</body>


</html>