<!DOCTYPE html>
<html>


<head>
	<link rel="stylesheet" type="text/css" href="Registrationcss.css">
</head>

<body style="background-color: #ffffff">
	<div class="Menu">
		<div class="HomePage">
			<li> <a href="/">Home</a> </li>
		</div>
	</div>

	<!--THE HEADING-->
	<center>
		<div class="heading">
			<h1><b style="font-family: Verdana; font-size: 40px; width: 500px; color: #0098b0">You have successfully voted</b></h1>
		</div>
	</center>
</body>


</html>